:root {
    --main-color: rgb(145, 111, 145);
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--main-color);
}
ul li {
    list-style: none;
    display: inline;
}
ul{
    float: right;
    margin-left: 900px;
}