:root {
    --main-color: rgb(145, 111, 145);
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--main-color);
}

ul li {
    list-style: none;
    display: inline-block;
}

ul {
    float: right;
    margin-left: 900px;
    cursor: pointer;
    color: white;
}

.games {
    color: white;
    margin-left: 550px;
    margin-top: 150px;
    font-size: 25px;
}

.inner_text {
    color: white;
    margin-left: 450px;
    font-size: 50px;
}

.text {
    margin-left: 70px;
}

.join {
    height: 40px;
    width: 100px;
    margin-left: 600px;
    color: white;
    border-radius: 5px;
    padding-left: auto;
    background: rgb(81, 40, 177);
}

.image img {
    height: 290px;
    width: 450px;
    margin-left: 400px;
}

@media (max-width:768px) {
    html {
        font-size: 75%;
        overflow-x: hidden;
    }
    ul li {
        /* padding-right: 1500px; */
        display: none;
    }
    .games{
        margin-left: 170px;
        font-size: 20px;
    }
    .inner_text{
        margin-left: 130px;
    }
    .text{
        margin-left: 50px;
    }
    .join{
        margin-left: 210px;
    }
    .image img{
        height: 150px;
        width: 190px;
        margin-left: 150px;
        margin-top: 50px;
    }
}